/* line 1, ../sass/SocialPost.scss */
.SocialPost {
  height: 735px;
  width: 1000px;
  margin: 0 auto;
}
/* line 6, ../sass/SocialPost.scss */
.SocialPost .SP-Hd {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: #404040;
  font-weight: bold;
  line-height: 1.5;
  background: url(../../images/icon15.png) no-repeat center left;
  padding-left: 20px;
  margin-bottom: 25px;
}
/* line 16, ../sass/SocialPost.scss */
.SocialPost .SP-Main {
  width: 100%;
  height: auto;
}
/* line 19, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title {
  height: 40px;
  width: 1000px;
  margin-bottom: 15px;
}
/* line 23, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title .SPMT-Input {
  position: relative;
  width: 600px;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: gray;
  margin-right: 20px;
}
/* line 31, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title input {
  width: 448px;
  padding-right: 130px;
  padding-left: 20px;
  height: 38px;
  outline: none;
}
/* line 38, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title span {
  position: absolute;
  right: 15px;
  top: 13px;
}
/* line 43, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title .SPMT-Classify {
  position: relative;
  width: 136px;
  padding: 0 10px;
  height: 40px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #4d4d4d;
  background: #fff;
}
/* line 52, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title .SPMT-Classify .SPMTC-Input {
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: 40px;
}
/* line 58, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title .SPMT-Classify i {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
  width: 0;
  height: 2px;
  border: solid;
  border-width: 5px;
  border-color: #585858 transparent transparent transparent;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  margin-left: 3px;
}
/* line 78, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title .SPMT-Classify .rotate {
  top: 18px;
  transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
/* line 85, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title .SPMT-Classify .SPMTC-Select {
  position: absolute;
  top: 40px;
  left: -1px;
  width: 156px;
  min-height: 32px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  z-index: 100004;
}
/* line 94, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title .SPMT-Classify .SPMTC-Select li {
  position: relative;
  padding: 0 10px;
  height: 40px;
  text-align: left;
  line-height: 40px;
  cursor: pointer;
  z-index: 100004;
}
/* line 102, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Title .SPMT-Classify .SPMTC-Select li:hover {
  background: #f1f1f1;
}
/* line 109, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags {
  position: relative;
  min-height: 30px;
  width: 100%;
  margin: 15px 0;
}
/* line 114, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsDiv {
  position: relative;
  min-height: 30px;
  width: 100%;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  line-height: 30px;
}
/* line 121, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsDiv .addTags {
  color: #0099e5;
  padding-left: 20px;
  background: url(../../images/btn.png) no-repeat center left;
  margin-right: 30px;
}
/* line 127, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsDiv .addTagsTs {
  position: absolute;
  left: 80px;
  display: inline-block;
  width: 323px;
  height: 28px;
  background: url(../../images/ts.png) no-repeat center left;
}
/* line 135, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsDiv .tagsBox {
  width: 755px;
  min-height: 30px;
}
/* line 138, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsDiv .tagsBox span {
  position: relative;
  float: left;
  display: inline-block;
  min-width: 37px;
  height: 16px;
  line-height: 16px;
  padding: 8px 10px;
  padding-right: 30px;
  border: 1px solid gainsboro;
  background-color: rgba(255, 255, 255, 0.8);
  color: gray;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 152, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsDiv .tagsBox span i {
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 11px;
  top: 10px;
  right: 10px;
  background: url(../../images/close.png) no-repeat center;
}
/* line 163, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsDiv .tagsTs {
  color: gray;
}
/* line 167, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsList {
  position: absolute;
  top: 45px;
  width: 603px;
  min-height: 30px;
  max-height: 600px;
  padding: 30px 20px;
  background: #fff;
  border: 1px solid #999;
  z-index: 100004;
  overflow: hidden;
  overflow-y: auto;
}
/* line 179, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsList .closeTags {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url(../../images/close.png) no-repeat center;
}
/* line 189, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsList .TagsListItem {
  width: 100%;
  height: 100%;
}
/* line 193, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsList li {
  float: left;
  width: 115px;
  padding-right: 20px;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  border-right: 1px solid #e6e6e6;
  margin-right: 20px;
}
/* line 205, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsList li:nth-child(4n) {
  margin-right: 0;
  border: none;
}
/* line 210, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Tags .TagsList .active {
  color: #0099e5;
  font-weight: bold;
}
/* line 216, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor {
  height: 548px;
  margin-bottom: 15px;
  background: #fff;
}
/* line 221, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-text-container {
  height: 500px !important;
}
/* line 224, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-toolbar {
  background: #fafafa !important;
  height: 50px;
  line-height: 37px;
  padding: 0 !important;
}
/* line 230, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-toolbar .w-e-menu {
  margin-top: 4px;
  padding: 8px 10px;
}
/* line 234, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-toolbar .w-e-menu:nth-child(3) {
  margin-top: 5px;
}
/* line 237, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-toolbar .w-e-menu:nth-child(4) {
  border-left: 1px solid #eee;
  margin-left: 10px;
  padding-left: 19px;
}
/* line 242, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-toolbar .w-e-icon-image {
  margin-top: 2px;
}
/* line 245, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-text-container .w-e-panel-container .w-e-emoticon-container .w-e-item {
  padding: 3px;
}
/* line 248, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-text {
  overflow-y: auto;
}
/* line 251, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-icon-happy {
  margin-top: 0;
}
/* line 254, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Editor #editorElem .w-e-icon-link {
  position: relative;
  top: 0px;
}
/* line 260, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Operation {
  height: 48px;
  line-height: 40px;
}
/* line 263, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Operation .PostHtml {
  width: 118px;
  height: 48px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  background: url(../../images/icon17.png) no-repeat center;
}
/* line 271, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Operation .PostHtml:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(4, 233, 245, 0.1);
}
/* line 279, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Operation span {
  font-size: 12px;
}
/* line 282, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Operation .wordnum {
  color: gray;
}
/* line 285, ../sass/SocialPost.scss */
.SocialPost .SP-Main .SPM-Operation .errts {
  margin-right: 20px;
  color: #ff3333;
  padding-left: 20px;
  background: url(../../images/icon16.png) no-repeat center left;
}

/* line 294, ../sass/SocialPost.scss */
.divmask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100003;
}
