/* line 1, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin {
  padding: 15px 19px;
  margin-bottom: 20px;
  width: 240px;
}
/* line 5, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .SocialIndexAdmin-Cont {
  width: 100%;
  min-height: 107px;
}
/* line 8, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .SocialIndexAdmin-Cont ul {
  width: 100%;
  height: auto;
}
/* line 11, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .SocialIndexAdmin-Cont ul li {
  float: left;
  width: 46px;
  height: 61px;
  margin-top: 30px;
  margin-right: 18px;
}
/* line 18, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .SocialIndexAdmin-Cont ul li:nth-child(4n) {
  margin-right: 0;
}
/* line 21, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .SocialIndexAdmin-Cont ul a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
/* line 26, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .SocialIndexAdmin-Cont ul a .adminPic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* line 31, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .SocialIndexAdmin-Cont ul a .adminName {
  display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #8c8c8c;
}
/* line 45, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .divmask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000003;
}
/* line 53, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop {
  position: fixed;
  left: 50%;
  top: 100px;
  margin-left: -209px;
  z-index: 1000004;
  width: 418px;
  min-height: 455px;
  padding-bottom: 45px;
  border: 1px solid #1a1a1a;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
/* line 65, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Hd {
  background-color: #191b2e;
  padding: 0 15px;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #b3b5c7;
}
/* line 73, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Hd img {
  display: inline-block;
  margin-top: 10px;
}
/* line 78, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont {
  margin: 30px 0;
  padding: 0 30px;
  font-size: 15px;
  line-height: 2;
  font-family: "Microsoft YaHei";
  color: #595959;
  text-align: center;
}
/* line 86, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont span {
  color: #ff6b01;
}
/* line 89, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont h3 {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: #4d4d4d;
}
/* line 94, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setp {
  position: relative;
}
/* line 96, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setp div {
  margin: 15px 0;
  width: 100%;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: gray;
  text-align: left;
}
/* line 103, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setp div h5 {
  text-indent: 30px;
}
/* line 108, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .mt60 {
  padding-top: 60px;
}
/* line 111, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont p {
  font-family: "Microsoft YaHei";
}
/* line 114, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setpList {
  min-height: 36px;
  line-height: 36px;
}
/* line 117, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setpList p {
  float: left;
  font-size: 14px;
}
/* line 121, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setpList p:first-child {
  width: 88px;
  margin-right: 11px;
  text-align: right;
  color: #4d4d4d;
}
/* line 127, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setpList p:last-child {
  color: #808080;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 133, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setpList p:last-child input, .SocialIndexAdmin .rulePop .rulePop-Cont .r-setpList p:last-child textarea {
  width: 226px;
  padding: 0 10px;
  height: 34px;
  border: 1px solid #e1e2e6;
  color: #4d4d4d;
}
/* line 140, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setpList p:last-child textarea {
  padding: 10px;
  height: 162px;
  resize: none;
  font-family: "Microsoft YaHei";
}
/* line 148, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .r-setpList .yellowColor {
  color: #ff6b01 !important;
}
/* line 152, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .overText {
  height: 275px;
  overflow: hidden;
  overflow-y: auto;
  line-height: 1.571;
}
/* line 158, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Cont .ruleerrts {
  position: absolute;
  left: 98px;
  bottom: -20px;
  color: #ff3333;
  padding-left: 20px;
  background: url(../../images/icon16.png) no-repeat center left;
}
/* line 167, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Bt {
  text-align: center;
  height: 36px;
}
/* line 170, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Bt span {
  display: inline-block;
  width: 122px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  margin: 0 15px;
}
/* line 178, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Bt .ruleCannle {
  position: relative;
  top: 1px;
  height: 34px;
  border: 1px solid gainsboro;
  background-color: rgba(245, 246, 247, 0);
}
/* line 184, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Bt .ruleCannle:hover {
  background-color: #f5f6f7;
}
/* line 188, ../sass/SocialIndexAdmin.scss */
.SocialIndexAdmin .rulePop .rulePop-Bt .ruleSure {
  color: white;
  background: url(../../images/rulepopbtn.png) no-repeat center left;
}
