/* line 2, ../sass/SocialPop.scss */
.pop .divmask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000003;
}
/* line 10, ../sass/SocialPop.scss */
.pop .rulePop {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000004;
  min-width: 418px;
  min-height: 278px;
  border: 1px solid #1a1a1a;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
/* line 20, ../sass/SocialPop.scss */
.pop .rulePop .rulePop-Hd {
  background-color: #191b2e;
  padding: 0 15px;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #b3b5c7;
}
/* line 28, ../sass/SocialPop.scss */
.pop .rulePop .rulePop-Hd img {
  display: inline-block;
  margin-top: 10px;
}
/* line 33, ../sass/SocialPop.scss */
.pop .rulePop .rulePop-Cont {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #595959;
  text-align: center;
}
/* line 39, ../sass/SocialPop.scss */
.pop .rulePop .rulePop-Bt {
  text-align: center;
  height: 36px;
}
/* line 42, ../sass/SocialPop.scss */
.pop .rulePop .rulePop-Bt span {
  display: inline-block;
  width: 122px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  margin: 0 15px;
}
/* line 50, ../sass/SocialPop.scss */
.pop .rulePop .rulePop-Bt .ruleCannle {
  position: relative;
  top: 1px;
  height: 34px;
  border: 1px solid gainsboro;
  background-color: rgba(245, 246, 247, 0);
}
/* line 57, ../sass/SocialPop.scss */
.pop .rulePop .rulePop-Bt .ruleSure {
  color: white;
  background-image: -moz-linear-gradient(0deg, #0095ff 1%, #30f0f0 100%);
  background-image: -ms-linear-gradient(0deg, #0095ff 1%, #30f0f0 100%);
  background-image: linear-gradient(0deg, #0095ff 1%, #30f0f0 100%);
  background-image: -webkit-linear-gradient(0deg, #0095ff 1%, #30f0f0 100%);
}
/* line 66, ../sass/SocialPop.scss */
.pop .Jrule {
  margin-left: -209px;
  margin-top: -139px;
}
/* line 70, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont {
  position: relative;
  min-height: 30px;
  padding: 65px 0;
  line-height: 30px;
}
/* line 75, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect {
  height: 30px;
  width: 225px;
  margin: 0 auto;
}
/* line 79, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect p {
  width: 150px;
}
/* line 82, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect .ruleSelectBox {
  position: relative;
  width: 90px;
  padding-left: 12px;
  text-align: left;
  height: 28px;
  border: 1px solid gainsboro;
  background-color: white;
}
/* line 90, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect .ruleSelectBox .ruleSelectInput {
  width: 100%;
  height: 28px;
}
/* line 94, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect .ruleSelectBox i {
  top: -31px;
  right: -65px;
}
/* line 98, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect .ruleSelectBox .roate {
  top: -23px;
}
/* line 101, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect .ruleSelectBox .ruleSelectDrown {
  position: absolute;
  left: -1px;
  top: 28px;
  width: 102px;
  min-height: 30px;
  border: 1px solid #c6c6cc;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 2000004;
}
/* line 111, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect .ruleSelectBox .ruleSelectDrown li {
  padding-left: 12px;
  height: 30px;
  line-height: 30px;
}
/* line 115, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .ruleSelect .ruleSelectBox .ruleSelectDrown li:hover {
  background-color: #ebeced;
}
/* line 122, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .faqBox {
  width: 333px;
  margin: 20px auto;
  min-height: 210px;
}
/* line 126, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .faqBox .faqerr {
  text-align: left;
  padding-left: 100px;
  color: red;
}
/* line 131, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .faqBox h4 {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: #4d4d4d;
  margin-bottom: 35px;
}
/* line 137, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .faqBox .faqContList {
  width: 333px;
  height: 35px;
  margin-bottom: 15px;
}
/* line 141, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .faqBox .faqContList .faqLeft {
  float: left;
  width: 100px;
  text-align: right;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #4d4d4d;
}
/* line 151, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .faqBox .faqContList .faqRight {
  float: right;
}
/* line 153, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .faqBox .faqContList .faqRight select, .pop .Jrule .rulePop-Cont .faqBox .faqContList .faqRight option, .pop .Jrule .rulePop-Cont .faqBox .faqContList .faqRight input {
  width: 232px;
  padding: 0 15px;
  height: 38px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #4d4d4d;
  border: 1px solid #e1e2e6;
  background-color: white;
  cursor: pointer;
}
/* line 164, ../sass/SocialPop.scss */
.pop .Jrule .rulePop-Cont .faqBox .faqContList .faqRight input {
  width: 200px;
  cursor: auto;
}
/* line 172, ../sass/SocialPop.scss */
.pop .Jrule .padding0 {
  padding: 0;
}
/* line 175, ../sass/SocialPop.scss */
.pop .pb40 {
  padding-bottom: 40px;
}
/* line 177, ../sass/SocialPop.scss */
.pop .pb40 .rulePop-Cont {
  padding: 0;
}
