@-webkit-keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 230px;
  }
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 230px;
  }
}
@-moz-keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 230px;
  }
}
/* line 16, ../sass/SocialIndexList.scss */
#SocialIndex .fixed {
  position: fixed;
  animation: mymove 2s normal;
  -webkit-animation: mymove 2s normal;
  -moz-animation: mymove 2s normal;
  -ms-animation: mymove 2s normal;
}

/* line 23, ../sass/SocialIndexList.scss */
.SocialIndexList {
  width: 700px;
  padding: 17px 0 33px;
}
/* line 26, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType {
  width: 662px;
  top: 0;
  z-index: 1000000003;
  height: 15px;
  padding: 17px 19px;
  border-bottom: 1px solid #e6e7eb;
  background: #fff;
  transition: all .3s linear;
  -ms-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
}
/* line 38, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .TypeTag {
  height: 15px;
  line-height: 15px;
  width: 540px;
}
/* line 42, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .TypeTag ul {
  height: 20px;
  margin-top: -5px;
}
/* line 46, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .TypeTag li {
  float: left;
  width: 55px;
  margin-right: 20px;
  height: 20px;
  line-height: 20px;
}
/* line 52, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .TypeTag li:first-child {
  border-right: 2px solid #eef0f1;
}
/* line 55, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .TypeTag li a {
  font-size: 16px;
  color: #999999;
  display: inline-block;
  padding: 0 3px;
  height: 100%;
  text-align: left;
}
/* line 62, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .TypeTag li a:hover {
  color: #404040;
}
/* line 67, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .TypeTag .current {
  color: #404040;
  border-bottom: 3px solid #0af;
  padding-bottom: 16px;
}
/* line 73, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .scrrenTag {
  position: relative;
  top: -10px;
  width: 96px;
  height: 32px;
  font-size: 14px;
  color: #585858;
  border: 1px solid #e5e5e5;
  background-color: rgba(128, 128, 128, 0);
  z-index: 1000004;
}
/* line 83, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .scrrenTag h6 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
/* line 91, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .scrrenTag .InputSelect {
  position: absolute;
  top: 32px;
  left: -1px;
  width: 96px;
  min-height: 32px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  z-index: 1000004;
}
/* line 100, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .scrrenTag .InputSelect li {
  position: relative;
  height: 32px;
  text-align: left;
  line-height: 32px;
  cursor: pointer;
  padding-left: 14px;
  width: 82px;
  z-index: 100004;
}
/* line 109, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListType .scrrenTag .InputSelect li:hover {
  background: #f5f6f7;
}
/* line 116, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont {
  width: 100%;
  height: auto;
}
/* line 119, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li {
  position: relative;
  min-height: 55px;
  padding: 30px 19px;
  border-bottom: 1px solid #e6e7eb;
}
/* line 124, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  background-color: rgba(164, 168, 195, 0.5);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
/* line 143, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 1;
}
/* line 149, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Title {
  width: 100%;
  height: 30px;
}
/* line 152, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Title a, .SocialIndexList .IndexListCont li .Jitems-Title i {
  display: inline-block;
}
/* line 155, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Title a {
  max-width: 520px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: #585858;
  text-align: left;
  margin-right: 5px;
}
/* line 164, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Title a:hover {
  color: #00aaff;
}
/* line 170, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail {
  width: 100%;
  min-height: 27px;
  margin-bottom: 10px;
}
/* line 174, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail .Jitems-Detail-text {
  font-size: 14px;
  color: #a7a7a7;
  max-height: 30px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
}
/* line 183, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail .Jitems-Detail-text p {
  font-size: 14px !important;
  color: #a7a7a7 !important;
}
/* line 188, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail .Jitems-Detail-img {
  position: relative;
  width: 100%;
}
/* line 191, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail .Jitems-Detail-img .JDICont {
  position: relative;
  z-index: 4;
  max-height: 110px;
  width: 100%;
  overflow: hidden;
}
/* line 199, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail .imgList {
  position: relative;
  display: inline-block;
  max-width: 156px;
  text-align: left;
  height: 110px;
  overflow: hidden;
  margin-right: 10px;
}
/* line 207, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail .imgList .imgfd {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: transparent url(../../images/icon-max.png) no-repeat center;
}
/* line 216, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail .imgList:hover .imgfd {
  display: inline-block;
}
/* line 219, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Detail .imgList img {
  display: inline-block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  max-height: 100%;
}
/* line 228, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Info {
  width: 100%;
  height: 20px;
}
/* line 231, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Info .JuserInfo {
  min-width: 160px;
  max-width: 400px;
}
/* line 234, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Info .JuserInfo a {
  display: inline-block;
  position: relative;
  line-height: 20px;
  font-size: 12px;
  color: #666666;
}
/* line 241, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Info .JuserInfo img {
  position: relative;
  top: 4px;
  display: inline;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/* line 249, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Info .JuserInfo .JuserInfo-time {
  font-size: 12px;
  color: #a7a7a7;
  border-left: 1px solid #eeeeee;
  margin-left: 5px;
  padding-left: 10px;
}
/* line 257, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Info .JdataInfo {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #a7a7a7;
  margin-top: 4px;
}
/* line 264, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Info .JdataInfo span {
  margin-right: 20px;
}
/* line 266, ../sass/SocialIndexList.scss */
.SocialIndexList .IndexListCont li .Jitems-Info .JdataInfo span img {
  margin-right: 5px;
}
/* line 274, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb {
  position: relative;
  margin-top: -110px;
  width: 632px;
  min-height: 100px;
  padding: 10px;
  background: #f7f7f7;
  border: 1px solid #e4e6eb;
  z-index: 5;
  cursor: normal;
}
/* line 285, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbHd {
  height: 25px;
  width: 100%;
  border-bottom: 1px solid #e4e6eb;
  text-align: left;
}
/* line 290, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbHd a {
  float: left;
  font-size: 12px;
  color: #2d64b3;
  text-align: left;
  box-sizing: content-box;
}
/* line 296, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbHd a i {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../../images/thread_list_z_eca48fe.png);
  background-position: 0px -30px;
}
/* line 308, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp {
  position: relative;
  width: 632px;
  height: 90%;
  padding: 1% 0;
  margin-top: 10px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 321, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp img {
  display: inline-block;
  max-width: 100%;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
/* line 328, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp .thumbsx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
/* line 335, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp .thumbsx:hover {
  cursor: normal;
  background: rgba(0, 0, 0, 0.05) url(../../images/icon-mini.png) no-repeat center;
}
/* line 340, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp .thumbWarpList {
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  width: 632px;
}
/* line 346, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp .thumbNext,
.SocialIndexList .Jlist-thumb .thumbWarp .thumbPrev {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  cursor: pointer;
  z-index: 6;
}
/* line 355, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp .thumbPrev {
  left: 0;
}
/* line 357, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp .thumbPrev:hover {
  background: rgba(0, 0, 0, 0.01) url(../../images/icon-left.png) no-repeat center;
}
/* line 361, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp .thumbNext {
  right: 0;
}
/* line 363, ../sass/SocialIndexList.scss */
.SocialIndexList .Jlist-thumb .thumbWarp .thumbNext:hover {
  background: rgba(0, 0, 0, 0.01) url(../../images/icon-right.png) no-repeat center;
}

/* line 370, ../sass/SocialIndexList.scss */
.selectMask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100003;
}
