/* line 2, ../sass/SocialPublic.scss */
body {
  background: #f5f6f8;
  font-family: "Microsoft YaHei";
  padding: 0;
  margin: 0;
  background: #F5F6F8 url(http://www.iplaystone.com/circle/img/bg.png) no-repeat center top;
  background-attachment: fixed;
}

/* line 10, ../sass/SocialPublic.scss */
b {
  font-weight: bold;
}

/* line 13, ../sass/SocialPublic.scss */
i {
  font-style: italic;
}

/* line 16, ../sass/SocialPublic.scss */
#stone_header {
  height: 70px;
}

/* line 19, ../sass/SocialPublic.scss */
.stone_header {
  position: static;
}

/* line 22, ../sass/SocialPublic.scss */
#stone_footer {
  margin-top: 25px;
}

/* line 25, ../sass/SocialPublic.scss */
.login_pop {
  z-index: 100000000;
}

/* line 28, ../sass/SocialPublic.scss */
.stone_mask {
  z-index: 99999999;
}

/* line 29, ../sass/SocialPublic.scss */
.app {
  width: 1002px;
  height: auto;
  margin: 0 auto;
  font-family: "Microsoft YaHei";
  padding-top: 30px;
}

/* line 36, ../sass/SocialPublic.scss */
.textOverFlow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 41, ../sass/SocialPublic.scss */
.icon-top, .icon-good, .icon-gf {
  position: relative;
  display: inline-block;
  top: -8px;
  font-size: 12px;
  color: #fff;
  min-width: 10px;
  padding: 0 5px;
  height: 17px;
  line-height: 17px;
  text-align: center;
}

/* line 53, ../sass/SocialPublic.scss */
.icon-good {
  background: #ff8b3d;
}

/* line 56, ../sass/SocialPublic.scss */
.icon-top {
  background: #ff4c4c;
}

/* line 59, ../sass/SocialPublic.scss */
.icon-gf {
  background: #00aaff;
}

/* line 62, ../sass/SocialPublic.scss */
.icon-good, .icon-top, .icon-gf {
  font-style: normal;
}

/* line 65, ../sass/SocialPublic.scss */
.cur {
  cursor: pointer;
}

/* line 68, ../sass/SocialPublic.scss */
.default {
  cursor: default;
}

/* line 71, ../sass/SocialPublic.scss */
.bgWhite {
  border: 1px solid #e6e7eb;
  background: #fff;
}

/* line 75, ../sass/SocialPublic.scss */
.animation {
  transition: all .3s linear;
  -ms-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
}

/* line 81, ../sass/SocialPublic.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* line 88, ../sass/SocialPublic.scss */
a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* line 93, ../sass/SocialPublic.scss */
*:focus {
  outline: none;
}

/* line 94, ../sass/SocialPublic.scss */
.fl {
  float: left;
}

/* line 95, ../sass/SocialPublic.scss */
.fr {
  float: right;
}

/* line 96, ../sass/SocialPublic.scss */
.clearfix {
  *zoom: 1;
}

/* line 97, ../sass/SocialPublic.scss */
#app .none {
  display: none;
}

/* line 98, ../sass/SocialPublic.scss */
.SocialIndex {
  width: 1002px;
  margin: 0 auto;
}

/* line 102, ../sass/SocialPublic.scss */
.SocialIndex .SocialIndexMain {
  width: 100%;
  margin-top: 16px;
}

/* line 106, ../sass/SocialPublic.scss */
.SocialIndexMain .MainList {
  width: 700px;
}

/* line 109, ../sass/SocialPublic.scss */
.app .MainMoudle {
  width: 280px;
}

/* line 112, ../sass/SocialPublic.scss */
.SocialIndex,
.SocialIndex .SocialIndexMain,
.SocialIndexMain .MainList,
.SocialIndexMain .MainModule {
  height: auto;
}

/* line 118, ../sass/SocialPublic.scss */
.MoudleHd {
  width: 100%;
  height: 32px;
  font-size: 16px;
  color: #404040;
  border-bottom: 1px solid #eef0f1;
}

/* line 125, ../sass/SocialPublic.scss */
.MoudleHd a {
  display: inline-block;
  font-size: 14px;
  color: #818181;
  padding: 2px 20px 2px 0;
  background: url(../../images/icon1.png) no-repeat right 6px;
}

/* line 132, ../sass/SocialPublic.scss */
.MoudleHd a:hover {
  color: #0099e5;
}

@-webkit-keyframes hmove {
  from {
    top: 0;
  }
  to {
    top: 0;
  }
}
@keyframes hmove {
  from {
    top: 0;
  }
  to {
    top: 0;
  }
}
@-moz-keyframes hmove {
  from {
    top: 0;
  }
  to {
    top: 0;
  }
}
/* line 150, ../sass/SocialPublic.scss */
.hfixed {
  position: fixed;
  animation: hmove 2s normal;
  -webkit-animation: hmove 2s normal;
  -moz-animation: hmove 2s normal;
  -ms-animation: hmove 2s normal;
}

/* line 157, ../sass/SocialPublic.scss */
.MainMoudle .HdInfo {
  top: 0;
  padding: 30px 19px;
  margin-bottom: 20px;
  border: 1px solid #eaeced;
  background: #fff;
  min-height: 50px;
  width: 240px;
  transition: all .1s linear;
  -ms-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
}

/* line 170, ../sass/SocialPublic.scss */
.MainMoudle .HdInfo .SiH-Info-Pic {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

/* line 175, ../sass/SocialPublic.scss */
.MainMoudle .HdInfo .SiH-Info-name {
  width: 170px;
  margin-left: 10px;
}

/* line 179, ../sass/SocialPublic.scss */
.MainMoudle .HdInfo .Hname {
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  color: #404040;
  margin: 5px 0 10px 0;
}

/* line 187, ../sass/SocialPublic.scss */
.MainMoudle .Hname h5 {
  width: 90px;
  height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 194, ../sass/SocialPublic.scss */
.MainMoudle .Hname .h5 {
  width: 56%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 200, ../sass/SocialPublic.scss */
.MainMoudle .HdInfo .Htitle {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #a6a6a6;
}

/* line 209, ../sass/SocialPublic.scss */
.MainMoudle .HnameBtnOn,
.MainMoudle .HnameBtnUn {
  width: 62px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #585858;
  border: 1px solid #eaecef;
  background-color: rgba(40, 215, 250, 0);
  margin-left: 10px;
}

/* line 220, ../sass/SocialPublic.scss */
.MainMoudle .HnameBtnUn {
  color: #fff;
  background: #00aaff;
  border-color: #00aaff;
}

/* line 226, ../sass/SocialPublic.scss */
.HnameBtnOn span:first-child {
  display: inline-block;
}
/* line 229, ../sass/SocialPublic.scss */
.HnameBtnOn span:last-child {
  display: none;
}
/* line 233, ../sass/SocialPublic.scss */
.HnameBtnOn:hover span:first-child {
  display: none;
}
/* line 236, ../sass/SocialPublic.scss */
.HnameBtnOn:hover span:last-child {
  display: inline-block;
}

/* line 241, ../sass/SocialPublic.scss */
.MainMoudle .HnameBtnUn img {
  margin-right: 5px;
}

/* line 244, ../sass/SocialPublic.scss */
.MainMoudle .SiH-Href {
  margin-top: 50px;
}

/* line 247, ../sass/SocialPublic.scss */
.MainMoudle .SiH-Launch {
  float: left;
  width: 154px;
  height: 38px;
  font-size: 14px;
  color: white;
  line-height: 38px;
  border-radius: 19px;
  background-image: url(../../images/postbtn2.png);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.11);
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
}

/* line 264, ../sass/SocialPublic.scss */
.MainMoudle .SiH-Launch:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(4, 233, 245, 0.1);
}

/* line 271, ../sass/SocialPublic.scss */
.MainMoudle .SiH-Launch img {
  margin: -1px;
  margin-right: 5px;
}

/* line 275, ../sass/SocialPublic.scss */
.MainMoudle .goShop {
  width: 66px;
  height: 35px;
  line-height: 34px;
  font-size: 14px;
  color: #585858;
  border: 1px solid #eaecef;
  border-radius: 19px;
  background-color: rgba(253, 35, 86, 0);
}

/* line 285, ../sass/SocialPublic.scss */
.goTop {
  display: inline-block;
  position: fixed;
  bottom: 150px;
  width: 40px;
  height: 40px;
  background: url(http://www.iplaystone.com/circle/img/top.png) no-repeat center top;
  background-position: 0 0;
  margin-top: 90px;
}
/* line 295, ../sass/SocialPublic.scss */
.goTop:hover {
  background-position: 0 -41px;
}

/* line 299, ../sass/SocialPublic.scss */
.rotatez {
  position: relative;
  top: -3px;
  right: -5px;
  display: inline-block;
  width: 0;
  height: 2px;
  border: solid;
  border-width: 5px;
  border-color: #585858 transparent transparent transparent;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  margin-left: 3px;
}

/* line 319, ../sass/SocialPublic.scss */
.roate {
  transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  top: 5px;
}

/* line 326, ../sass/SocialPublic.scss */
.face {
  width: 22px;
  height: 26px;
  margin: 0 2px;
}

/* line 331, ../sass/SocialPublic.scss */
.divmask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000003;
}
