.LoginPop{
  // display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 220px;
  width: 340px;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background-color: #f5f6f8;
  z-index: 100;
}
.banner .prev, .banner .next{
  z-index: 8 !important;
}

  .LoginPop .LoginPop_outer{
    position: relative;
    width: 100%;
    height: 100%;
    padding:40px;
    box-sizing: border-box;
  }

  .LoginPop .LoginPop_cancle{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    background: url('http://www.iplaystone.com/static/common/images/cancel.png');
    cursor: pointer;
  }

  .LoginPop .LoginPop_title{
    font-size: 14px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
 .LoginPop_title img{
  display: inline-block;
 }
  .LoginPop .LoginPop_input{
    position: relative;
    width: 100%;
    height: 58px;
  }

    .LoginPop .LoginPop_input .LoginPop_error{
      display: none;
      height: 20px;
      padding-left: 15px;
      color: red;
      background: url('http://www.iplaystone.com/static/common/images/error.png') left no-repeat;
    }

    .LoginPop .LoginPop_input > input{
      width: 100%;
      height: 38px;
      border: 1px solid rgb(240, 241, 242);
      background-color: rgb(240, 241, 242);
      outline: none;
      padding: 0 15px 0 30px;
      color: rgb(128, 128, 128);
      box-sizing: border-box;
    }
    .LoginPop .LoginPop_input > input:focus{
      border-color:#00aaff;
    }

    .LoginPop .LoginPop_input .LoginPop_icon{
      position: absolute;
      top: 13px;
      left: 10px;
      width: 13px;
      height: 13px;
    }

    .LoginPop .LoginPop_input .LoginPop_user{
      background: url('http://www.iplaystone.com/static/common/images/user.png') no-repeat;
    }

    .LoginPop .LoginPop_input .LoginPop_pwd{
      background: url('http://www.iplaystone.com/static/common/images/key.png') no-repeat;
    }

  .LoginPop .LoginPop_btn{
    width: 100%;
    height: 46px;
    margin: 30px 0 15px 0;
  }

    .LoginPop .LoginPop_btn > button{
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: white;
      border: none;
      color: white;
      background: url('http://www.iplaystone.com/static/common/images/btn_normal.png');
      cursor: pointer;
    }

/*    .LoginPop .LoginPop_btn > button:hover{
      background: url('../images/btn_hover.png');
    }*/

  .LoginPop .LoginPop_forget,
  .LoginPop .LoginPop_register {
    font-size: 12px;
  }

  .LoginPop .LoginPop_forget{
    /*float: left;*/
    color: #808080;
  }

  .LoginPop .LoginPop_register{
    /*float: right;*/
    color: #5a9ddf;
  }
  .LoginPop  .LoginPop_box{
    text-align: center;
  }
  .LoginPop_box span{
    display: inline-block;
    height: 15px;
    width: 1px;
    background: #999;
    margin: 0 20px;
    position: relative;
    top: 3px;
  }
