
.SocialIndexHeader{
   width:962px;
   height: 82px;
   background:#fff;
   padding:19px;
   font-family: "Microsoft YaHei";
   a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
   }
   .SiH-Info-Pic{
      width:80px;
      height: 80px;
      margin-right:19px;
   }
   .SiH-Info-name{
      width: 590px;
      height: auto;
      .Hname{
		width: 100%;
		font-size: 18px;
		color: #404040;
		line-height: 3;
		height: 45px;
		h5{
			height: 100%;
		}
		a{
			margin:14px 0 0 14px;
		}
		.HnameBtnOn , .HnameBtnUn{
			width: 62px;
			height: 26px;
			line-height: 26px;
			font-size: 12px;
			color: rgb(88, 88, 88);
			border: 1px solid rgb(234, 236, 239);
			background-color: rgba(40, 215, 250, 0);
		}
      }
      .Htitle{
		width: 100%;
		color: rgb(166, 166, 166);
		line-height: 2;
		font-size: 14px;
      }
   }
   .SiH-Href{
   	    margin-right:20px;
   	    margin-top:22px;
   }
   .SiH-Launch{
		width: 124px;
		height: 38px;
		font-size: 14px;
		color: rgb(255, 255, 255);
		line-height: 38px;
		border-radius: 19px;
		background-image: -moz-linear-gradient( 0deg, rgb(4,233,245) 0%, rgb(0,153,229) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb(4,233,245) 0%, rgb(0,153,229) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(4,233,245) 0%, rgb(0,153,229) 100%);
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.11);
		text-align: center;
		margin-right: 20px;
		cursor:pointer;
		img{
			margin: -1px;
			margin-right: 5px;
		}
   }
   .goShop{
		width: 58px;
		height: 35px;
		line-height:34px;
		font-size: 14px;
		color: rgb(88, 88, 88);
		border: 1px solid rgb(234, 236, 239);
		border-radius: 19px;
		background-color: rgba(253, 35, 86, 0);
   }

}
